importFrom(stats, bw.nrd, sd, mad, var, p.adjust, quantile, lm, predict, prcomp, dnorm, anova, cor, na.omit, as.formula, model.matrix)
importFrom(matrixStats, rowQuantiles)
importFrom(mvtnorm, rmvnorm)
importFrom(mgcv, gam)
importFrom(grf, regression_forest)
export("complex.heterogeneity", "obs.het.surr")
